@use '../utils/mixins' as *;

.btn {
  padding: 12px 24px;
  color: var(--white);
  &--secondary {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
  }
}
