@use './mixins' as *;
:root {
  --container: 1920px;
  --gap: 40px;
  --gap-y: 100px;
  --small-gap-y: 80px;
  @each $breakpoint, $val in $breakpoints {
    @include media($breakpoint) {
      --container: #{$val};
    }
  }
  @include media(lg) {
    --gap: 16px;
    --gap-y: 60px;
    --small-gap-y: 40px;
  }
}

:root {
  --green: #38c98c;
  --black: #1e2124;
  --white: #fff;
  --gray: #eee;
}
