body.admin{
  input{
    border: 1px #000 solid;
    margin-right: 10px;
    padding: 5px;
  }
  button{
    border: 1px #000 solid;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.adminka{
  background: #fff !important;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.emailString{
  display: flex;
  align-items: center;
  border-bottom: 1px #000 solid;
  padding-bottom: 5px;
  margin-bottom: 5px;
  .email{
    margin-right: 30px;
    width: 200px;
  }
  .time{
    width: 200px;
    margin-right: 30px;
  }
}