.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 24px 0;
  &__logo {
    margin-right: 60px;
  }
  &__nav {
    margin-right: auto;
  }
}
