@import '../../assets/styles/global';
@import '../../assets/styles/typography';
@import '../../assets/styles/media';

.section{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 570px 0 var(--gap-y) 0;
  @include media(l){
    padding-top: 290px;
  }
  &__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @extend %container;
    @include media(l){
      flex-direction: column;
    }
    .title{
      color: var(--prim);
      @extend %sui_reg_80_84;
      max-width: 670px;
      @include media(l){
        margin-bottom: 20px;
      }
    }
    .desc{
      color: var(--prim);
      @extend %sui_reg_20_30;
      max-width: 400px;
      text-indent: var(--textIndend);
    }
  }
}