@import '../../assets/styles/global';
@import '../../assets/styles/typography';
@import '../../assets/styles/media';

.section{
  width: 100%;
  background: var(--mainBg);
  border-radius: var(--sectionBR);
  padding: var(--gap-y) 0;
  position: relative;
  &__wrapper{
    @extend %container;
  }
  &__title{
    @extend %sui_light_80_84;
    color: var(--prim);
    max-width: 1100px;
    margin-bottom: 30px;
    margin-right: 80px;
    @include media(l){
      margin-right: 0;
    }
    .titleIcon{
      width: 80px;
      height: 80px;
      margin-bottom: -12px;
      @include media(l){
        width: 40px;
        height: 40px;
        margin-bottom: -6px;
      }
    }
  }
  &__anoncer{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--prim);
    opacity: 0.4;
    transform: translate(0, 125px) rotate(-90deg);
    cursor: vertical-text;
    @include media(l){
      display: none;
    }
  }
  &__description{
    max-width: 600px;
    margin-left: auto;
    @include media(l){
      margin-left: 0;
      max-width: 100%;
    }
    .description{
      @extend %sui_reg_20_30;
      color: var(--prim);
      margin-bottom: 30px;
      text-indent: var(--textIndend);
    }
  }
}