@import '../../assets/styles/global';
@import '../../assets/styles/typography';
@import '../../assets/styles/media';


.section{
  background: var(--primBg);
  border-radius: var(--sectionBR);
  padding: var(--gap-y) 0;
  &__wrapper{
    @extend %container;
  }
  .top{
    margin-bottom: var(--gap-y);
    display: flex;
    justify-content: space-between;
    .title{
      color: var(--main);
      @extend %sui_light_80_84;
      max-width: 680px;
      margin-right: 20px;
    }
    .description{
      color: var(--main);
      @extend %sui_reg_20_30;
      text-indent: var(--textIndend);
      max-width: 400px;
    }
  }
  .cards{

  }
}


.card{
  background: var(--prim);
  padding: 20px 20px 30px 20px;
  min-height: 400px;
  width: 100%;
  border-radius: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &:not(:last-child){
    margin-right: 20px;
  }
  &__top{
    display: flex;
    align-items: center;
    %tag{
      margin-right: 4px;
      border-radius: 12px;
      color: var(--prim);
      padding: 4px 12px;
    }
    .new{
      @extend %tag;
      background: var(--second);
      border-radius: 12px;
    }
    .hot{
      @extend %tag;
      background: var(--wrong);
      border-radius: 12px;
    }
  }
  &__title{
    @extend %sui_reg_24_32;
    color: var(--main);
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
  }
  &__description{
    @extend %sui_reg_16_24;
    color: var(--letter);
    margin-bottom: 24px;
    position: relative;
    z-index: 2;
  }

  &:before{
    content: "";
    display: block;
    width: 360px;
    height: 360px;
    position: absolute;
    top: -200px;
    right: -160px;
    opacity: 0.8;
    filter: blur(100px);
    background: var(--third);
    z-index: 1;
  }
  &.green:before{
    background: var(--second);
  }
  &.red:before{
    background: var(--wrong);
  }

}