@import '../../assets/styles/global';
@import '../../assets/styles/typography';

.section{
  background: var(--prim);
  border-radius: var(--sectionBR);
  padding: var(--gap-y) 0;
  &__wrapper{
    @extend %container;
  }
  &__text{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--gap-y);
    @include media(l){
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .title{
      margin-right: 40px;
      @extend %sui_light_80_84;
      @include media(l){
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
    .description{
      max-width: 400px;
      @extend %sui_reg_20_30;
      text-indent: var(--textIndend);
    }
  }
  &__cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.card{
  flex: 1;
  &:not(:last-child){
    margin-right: 20px;
  }
  .image{
    background: var(--imageBg);
    border-radius: 24px;
    margin-bottom: 30px;
    height: 500px;
    display: block;
    @include media(l){
      height: 320px;
      max-width: 320px;
    }
  }
  .name{
    @extend %sui_reg_24_32;
    margin-bottom: 12px;
  }
  .desc{
    color: var(--letter);
    margin-bottom: 20px;
  }
}
