%colorsRoot {
  --main: #111111;
  --mainBg: #1E2124;
  --prim: #ffffff;
  --imageBg: #E6E6E6;
  --primBg: #EFEFEF;
  --letter: #A6A6A6;
  --second: #38c98c;
  --secondHover: #1f9463;
  --wrong: #C95238;
  --third: #3861C9;
}
