@use 'colors' as *;
@use 'typography' as *;

:root {
  @extend %colorsRoot;
}

*,
*:before,
*:after {
  @extend %sui_reg_16_24; // default font
  color: var(--main);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background: var(--main);
}

%container {
  max-width: 1400px;
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
