@import "media";

@mixin font($fontFamily, $fontFullName, $fontWeight, $fontStyle) {
  @font-face {
    font-family: $fontFamily;
    src: url('../../assets/fonts/' + $fontFullName);
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

// @include font('SuisseIntl', 'SuisseIntl-Black.otf', 900, normal);
// @include font('SuisseIntl', 'SuisseIntl-BlackItalic.otf', 900, intalic);
// @include font('SuisseIntl', 'SuisseIntl-Book.otf', 800, normal);
// @include font('SuisseIntl', 'SuisseIntl-BookItalic.otf', 800, intalic);
// @include font('SuisseIntl', 'SuisseIntl-Bold.otf', 700, normal);
// @include font('SuisseIntl', 'SuisseIntl-BoldItalic.otf', 700, intalic);
// @include font('SuisseIntl', 'SuisseIntl-SemiBold.otf', 600, normal);
// @include font('SuisseIntl', 'SuisseIntl-SemiBoldItalic.otf', 600, intalic);
// @include font('SuisseIntl', 'SuisseIntl-Medium.otf', 500, normal);
// @include font('SuisseIntl', 'SuisseIntl-MediumItalic.otf', 500, intalic);
@include font('SuisseIntl', 'SuisseIntl-Regular.otf', 400, normal);
// font('SuisseIntl', 'SuisseIntl-RegularItalic.otf', 400, intalic);
@include font('SuisseIntl', 'SuisseIntl-Light.otf', 300, normal);
// @include font('SuisseIntl', 'SuisseIntl-LightItalic.otf', 300, intalic);
// @include font('SuisseIntl', 'SuisseIntl-Ultralight.otf', 200, normal);
// @include font('SuisseIntl', 'SuisseIntl-UltralightItalic.otf', 200, intalic);
// @include font('SuisseIntl', 'SuisseIntl-Thin.otf', 100, normal);
// @include font('SuisseIntl', 'SuisseIntl-ThinItalic.otf', 100, intalic);

%sui_reg {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 400;
  &_16_24 {
    @extend %sui_reg;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.005em;
  }
  &_20_30{
    @extend %sui_reg;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    @include media(l){
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.005em;
    }
  }
  &_24_32{
    @extend %sui_reg;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
  &_80_84 {
    @extend %sui_reg;
    font-size: 80px;
    line-height: 84px;
    letter-spacing: -0.03em;
    @include media(l){
      font-size: 48px;
      line-height: 50px;
      letter-spacing: -0.02em;
    }
  }
  &_100_105 {
    @extend %sui_reg;
    font-size: 100px;
    line-height: 105px;
    letter-spacing: -0.03em;
    @include media(l){
      font-size: 48px;
      line-height: 50px;
      letter-spacing: -0.02em;
    }
  }
}

%sui_light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 300;
  &_80_84 {
    @extend %sui_light;
    font-size: 80px;
    line-height: 84px;
    letter-spacing: -0.03em;
    @include media(l){
      font-size: 36px;
      line-height: 38px;
      letter-spacing: -0.02em;
    }
  }
}